* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Helvetica;
    font-weight: 400;
}

.portrait-box {
    padding: 0;
    margin: 0;
    height: 70%;
    background: black;
    background-position: center;
    background-size: cover;
}

.self-portrait {
    width: 35%;
    height: 65%;
    margin: 100px auto 0;
    padding: 10px;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
    background: url('../images/profile-pic.png');
    background-position: center;
    background-size: inherit;
}

.name {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin-left: 300px;
    margin-top: 100px;
    color: white;
}

.education {
    margin: 8px 16px;
    padding: 8px;
    text-align: center;
}

.education li {
    text-align: left;
}

.personal-details {
    text-align: center;
}

.work-exp {
    margin: 8px 16px;
    padding: 8px;
    text-align: center;
}

.work-exp li {
    text-align: left;
}

.about-me {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    max-width: 90%;
}
.about-me h1 {
    font-weight: 900;
}

.about-me p {
    font-size: 22px;
}

.marks {
    padding: 10px 30px 10px 30px;
}

.school-marks {
    padding-left: 40px;
    margin: 10px;
}

.skills {
    padding: 10px;
}

#work-exp {
    text-align: left;
}

footer {
    margin-bottom: 1px;
    mix-blend-mode: exclusion;
    color: white;
}

.section1 {
    padding-bottom: 25%;
}

.section2 {
    padding-bottom: 45%;
}